In [1]:
# Data Imports
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

# Math
import math

# Plot imports
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline

# Machine Learning Imports
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

# For evaluating our ML results
from sklearn import metrics

# Dataset Import
import statsmodels.api as sm

In [2]:
df = pd.read_stata('nels_small.dta')

In [3]:
df.head()

   psechoice  hscath  grades  faminc  famsiz  parcoll  female  black
0          2       0    9.08    62.5       5        0       0      0
1          2       0    8.31    42.5       4        0       1      0
2          3       0    7.42    62.5       4        0       1      0
3          3       0    7.42    62.5       4        0       1      0
4          3       0    7.42    62.5       4        0       1      0

In [4]:
df.describe()

,psechoice,hscath,grades,faminc,famsiz,parcoll,female,black
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,2.305000,0.019000,6.530390,51.393501,4.206000,0.308000,0.496000,0.056000
std,0.810328,0.136593,2.265855,40.165859,1.291988,0.461898,0.500234,0.230037
min,1.000000,0.000000,1.740000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,2.000000,0.000000,4.912500,30.000000,3.000000,0.000000,0.000000,0.000000
50%,3.000000,0.000000,6.640000,42.500000,4.000000,0.000000,0.000000,0.000000
75%,3.000000,0.000000,8.240000,62.500000,5.000000,1.000000,1.000000,0.000000
max,3.000000,1.000000,12.330000,250.000000,10.000000,1.000000,1.000000,1.000000

In [7]:
df['psechoice'].unique()

array([2, 3, 1])

In [24]:
college=[]
for i in range(0,1000):
    if df['psechoice'][i]==1:
        college.append(0)
    else:
        college.append(1)

In [25]:
df['college']=college
df.head()

   psechoice  hscath  grades  faminc  famsiz  parcoll  female  black  college
0          2       0    9.08    62.5       5        0       0      0        1
1          2       0    8.31    42.5       4        0       1      0        1
2          3       0    7.42    62.5       4        0       1      0        1
3          3       0    7.42    62.5       4        0       1      0        1
4          3       0    7.42    62.5       4        0       1      0        1

In [44]:
df['college'].value_counts()

1    778
0    222
Name: college, dtype: int64

# a)

In [72]:
college_perc=778/1000*100
print("Percentage of the high school graduates attended college=", college_perc,"%")

Percentage of the high school graduates attended college= 77.8 %

# b)

In [56]:
X=df.loc[:,['grades','faminc','famsiz','parcoll','female','black']]
Y=df['college']

In [100]:
# Statsmodels 
probit = sm.Probit(Y,X)
result = probit.fit()
print (result.summary())

Optimization terminated successfully.
         Current function value: 0.468360
         Iterations 6
                          Probit Regression Results
==============================================================================
Dep. Variable:                college   No. Observations:                 1000
Model:                         Probit   Df Residuals:                      994
Method:                           MLE   Df Model:                            5
Date:                Mon, 15 Apr 2019   Pseudo R-squ.:                  0.1153
Time:                        11:48:33   Log-Likelihood:                -468.36
converged:                       True   LL-Null:                       -529.43
                                        LLR p-value:                 1.107e-24
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
grades        -0.1035      0.017     -6.254      0.000      -0.136      -0.071
faminc         0.0086      0.002      4.860      0.000       0.005       0.012
famsiz         0.1624      0.030      5.356      0.000       0.103       0.222
parcoll        0.6601      0.131      5.026      0.000       0.403       0.918
female         0.3249      0.092      3.550      0.000       0.146       0.504
black          0.5637      0.211      2.677      0.007       0.151       0.976
==============================================================================

In [101]:
# odds ratios only
print (np.exp(result.params))

grades     0.901662
faminc     1.008674
famsiz     1.176274
parcoll    1.935018
female     1.383841
black      1.757084
dtype: float64

In [71]:
# GRADES- as 1 is the highest & 13 the lowest, I would expect the negative sign, 
# as the lower grades will decrease the chances of going to college
# FAMINC- yes, higher gross family income, higher the chances for college (more able to afford the fee)
# FAMSIZ- no, I would expect people from families with high number of children having smaller college opportunity, 
# as there are many people for whom family should take care off
# PARCOLL- yes, I would expect educated parents to do their best to create college opportunity for the child
# FEMALE & BLACK- somewhat no, as there are a lot of statistics that white male go to college more than either balck or women

# all the coefficients are significant, all p-values<0.05

# c)

In [102]:
x_new1=[5,51.4,5,1,1,1]
y_new1=result.predict(x_new1)
print ('Probability of attending college= ', y_new1*100)

Probability of attending college=  [98.88946885]

In [103]:
x_new2=[10,51.4,5,1,1,1]
y_new2=result.predict(x_new2)
print ('Probability of attending college= ', y_new2*100)

Probability of attending college=  [96.15673583]

# d)

In [104]:
x_new3=[10,51.4,5,1,1,0]
y_new3=result.predict(x_new3)
print ('Probability of attending college= ', y_new3*100)

Probability of attending college=  [88.59979043]

In [105]:
x_new4=[10,51.4,5,1,0,0]
y_new4=result.predict(x_new4)
print ('Probability of attending college= ', y_new4*100)

Probability of attending college=  [81.07470638]

# e)

In [106]:
X1=df.loc[:,['grades','faminc','famsiz']]
Y1=df['college']

In [107]:
# Statsmodels 
probit1 = sm.Probit(Y1,X1)
result1 = probit1.fit()
print (result1.summary())

Optimization terminated successfully.
         Current function value: 0.491659
         Iterations 6
                          Probit Regression Results
==============================================================================
Dep. Variable:                college   No. Observations:                 1000
Model:                         Probit   Df Residuals:                      997
Method:                           MLE   Df Model:                            2
Date:                Mon, 15 Apr 2019   Pseudo R-squ.:                 0.07134
Time:                        11:50:20   Log-Likelihood:                -491.66
converged:                       True   LL-Null:                       -529.43
                                        LLR p-value:                 3.958e-17
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
grades        -0.0978      0.016     -6.263      0.000      -0.128      -0.067
faminc         0.0125      0.002      7.774      0.000       0.009       0.016
famsiz         0.1868      0.029      6.486      0.000       0.130       0.243
==============================================================================

In [108]:
# signs and significance of remaining variables are not affected